<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html lang="en">

  <head></head>

  <body
    style="background-color:#ffffff;margin:0 auto;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif"
  >
    <table
      align="center"
      role="presentation"
      cellSpacing="0"
      cellPadding="0"
      border="0"
      width="100%"
      style="max-width:600px;margin:0 auto"
    >
      <tr style="width:100%">
        <td>
          <table
            style="margin-top:32px"
            align="center"
            border="0"
            cellPadding="0"
            cellSpacing="0"
            role="presentation"
            width="100%"
          >
            <tbody>
              <tr>
                <td><img
                    alt="logo"
                    src="https://i.imgur.com/kInxVsj.png"
                    width="38"
                    height="38"
                    style="display:block;outline:none;border:none;text-decoration:none"
                  />

                </td>
              </tr>
            </tbody>
          </table>
          <h1
            style="color:#1d1c1d;font-size:36px;font-weight:700;margin:30px 0;padding:0;line-height:42px"
          >
            Hello,
            {{name}}!
          </h1>
          <p
            style="font-size:20px;line-height:28px;margin:16px 0;margin-bottom:30px"
          >Thank you for reaching out to us. We have received your message and
            will be responding to you soon.
            <br />
            <br />
            Your message
          </p>
          <table
            style="background:rgb(245, 244, 245);border-radius:4px;margin-right:50px;margin-bottom:30px;padding:43px 23px"
            align="center"
            border="0"
            cellPadding="0"
            cellSpacing="0"
            role="presentation"
            width="100%"
          >
            <tbody>
              <tr>
                <td>
                  <p
                    style="font-size:16px;font-weight:500;line-height:24px;vertical-align:middle"
                  >
                    {{subject}}</p>
                  <p
                    style="font-size:16px;line-height:24px;margin:16px 0;vertical-align:middle"
                  >{{message}}</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table
            align="center"
            border="0"
            cellPadding="0"
            cellSpacing="0"
            role="presentation"
            width="100%"
          >
            <tbody>
              <tr>
                <td>
                  <table
                    width="100%"
                    style="margin-bottom:32px;padding-left:8px;padding-right:8px;width:100%"
                    align="center"
                    role="presentation"
                    cellSpacing="0"
                    cellPadding="0"
                    border="0"
                  >
                    <tbody style="width:100%">
                      <tr style="width:100%">
                        <td style="width:66%"><img
                            alt="logo"
                            src="https://i.imgur.com/kInxVsj.png"
                            width="38"
                            height="38"
                            style="display:block;outline:none;border:none;text-decoration:none"
                          /></td>
                        <td>
                          <table
                            width="100%"
                            align="center"
                            role="presentation"
                            cellSpacing="0"
                            cellPadding="0"
                            border="0"
                          >
                            <tbody style="width:100%">
                              <tr style="width:100%">
                                <td><a
                                    target="_blank"
                                    style="color:#067df7;text-decoration:none"
                                    href="/"
                                  ><img
                                      alt="Slack"
                                      src="https://react-email-demo-ijnnx5hul-resend.vercel.app/static/slack-twitter.png"
                                      width="32"
                                      height="32"
                                      style="display:inline;outline:none;border:none;text-decoration:none;margin-left:32px"
                                    /></a></td>
                                <td><a
                                    target="_blank"
                                    style="color:#067df7;text-decoration:none"
                                    href="/"
                                  ><img
                                      alt="Slack"
                                      src="https://react-email-demo-ijnnx5hul-resend.vercel.app/static/slack-facebook.png"
                                      width="32"
                                      height="32"
                                      style="display:inline;outline:none;border:none;text-decoration:none;margin-left:32px"
                                    /></a></td>
                                <td><a
                                    target="_blank"
                                    style="color:#067df7;text-decoration:none"
                                    href="/"
                                  ><img
                                      alt="Slack"
                                      src="https://react-email-demo-ijnnx5hul-resend.vercel.app/static/slack-linkedin.png"
                                      width="32"
                                      height="32"
                                      style="display:inline;outline:none;border:none;text-decoration:none;margin-left:32px"
                                    /></a></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </body>

</html>